# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Databases & Environments
.env
*.db
campus_notices.db

# Scrapy
.scrapy/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS temporary files
.DS_Store
Thumbs.db
